@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("/static/css/imagenes/banner_solar_2.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Botón de archivo */
input[type="file"] {
    border: none;
}

/* Botón de enviar */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2E8B57;
}


/* Estilos para el pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.popup img {
    max-width: 400px;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 10px; right: 10px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px; height: 30px;
    cursor: pointer;
    font-size: 16px;
}