<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Automatizaciones Ferragro y Solartech</title>
</head>
<body>
    <div class="background-image">
        <div class="container">
            <!-- Bloque Solartech -->
            <div class="block">
                <div class="logo">
                    <img src="../static/css/imagenes/SOLARTECH.jpeg" alt="Logo Solartech">
                </div>
                <h2>SOLARTECH:</h2>
                <ul>
                    <li><a href="/calculadora_solar">Cotizador de proyectos solares</a></li>
                    <li><a href="/diligenciamiento_contratos">Diligenciamiento de contratos</a></li>
                </ul>
            </div>

            <!-- Bloque Ferragro -->
            <div class="block">
                <div class="logo">
                    <img src="../static/css/imagenes/logo_ferragro.png" alt="Logo Ferragro">
                </div>
                <h2>FERRAGRO:</h2>
                <ul>
                    <li><a href="/calculadora_equipos_ferragro">Cotizador de equipos solares</a></li>
                    <li><a href="/calculadora_ia">Calculadora solar IA</a></li>
                    <li><a href="/instalaciones_terceros">Servicios de instalaciones terceros</a></li>
                    <li><a href="/sagrilaft">Diligenciamiento de SAGRILAFT</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

